.App {
  background-color: white;
}

.Login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.Login-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
}

.Profile-icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: purple;
    border-radius: 50%;
    justify-content: center;
    font-size: large;
    display: flex;
    align-items: center;
}

.Profile-icon-text{
  color: white
}